* { font-family: 'Roboto', sans-serif; }

.App-header {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 60s linear;
  height: 80px;
}

.App-body-content {
  margin: 20px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
  letter-spacing: 1.125px;
}

@media (max-width:480px) {
  .App-header {
    height: 250px;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
